.heading
{
     font-size: 23px;
     width: 100%;
     margin: 0px;
     box-shadow: 5c;
}
.note
{
     font-size: 25px;
     color: black;
}
.copy_right_footer
{
     font-size: 20px;
     position: fixed;
     color: wheat;
     bottom: 0;
     width: 100%;
     background-color: grey;
     line-height: 5;
     text-align: center;
}
canvas
{
     border: 5px solid white;
     border-radius: 20px;
     box-shadow: 6px 6px 6px grey;
}